<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1.blue Pug con Gulp
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quos deleniti perspiciatis aliquid quis alias, quo accusantium praesentium necessitatibus aperiam cupiditate vel. Blanditiis nesciunt laborum a, molestias totam quos iure.